* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    z-index: 5;
}

body {
    background-color: #212639;
    text-transform: capitalize;
    font-family: "Cairo", sans-serif;
    overflow: hidden;
    cursor: url(https://i.postimg.cc/W3sMYzZ9/5.png), default !important;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: url(https://i.postimg.cc/4dTKNxQz/1p.png), pointer !important;
}

a:hover {
    opacity: 75%;
}

::selection {
    background: transparent;
    color: #F94C66;
}

.start {
    height: 100%;
    width: 100%;
}

.left {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 50%;
    background-color: #FFF;
    animation-name: left;
    animation-duration: 5s;
    animation-iteration-count: 1;
    z-index: 15;
}

@keyframes left {
    0% {
        left: 0;
    }
    100% {
        left: -50%;
    }
}

.right {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 50%;
    background-color: #FFF;
    animation-name: right;
    animation-duration: 5s;
    animation-iteration-count: 1;
    z-index: 15;
}

@keyframes right {
    0% {
        right: 0;
    }
    100% {
        right: -50%;
    }
}

